<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- partial("head", { title }); %>
</head>

<body>
  <header>
    <%- partial("navbar", { user }); %>
  </header>
  <% if(flash_success) { %>
    <%- partial("flash", {flash_success}) %>
      <% } %>
        <section>
          <%- body -%>
        </section>
</body>

</html>