<nav id="navbar">
  <div class="mobile">
    <input type="checkbox" id="check" />
    <div class="btn_one">
      <label for="check">
        <i class="fa-solid fa-bars"></i>
      </label>
    </div>

    <div class="sidebar_menu">
      <div class="logo">
        <a href="/">luminous</a>

        <div class="btn_two">
          <label for="check">
            <i class="fa-solid fa-xmark"></i>
          </label>
        </div>
      </div>

      <div class="menu">
        <ul>
          <% if(!user || user==null) { %>
            <a href="/user/signin">
              <li>
                <i class="fa-solid fa-right-to-bracket"></i>
                sign in
              </li>
            </a>
            <a href="/user/signup">
              <li>
                <i class="fa-solid fa-user-plus"></i>
                sign up
              </li>
            </a>
            <% } else { %>
              <a href="/listings/user/<%= user.username %>">
                <li>
                  <i class="fa-solid fa-user"></i>

                  <%= user.username %>

                </li>
              </a>
              <a href="/user/signout">
                <li>
                  <i class="fa-solid fa-right-from-bracket"></i>
                  sign out
                </li>
              </a>
              <% if(user.role=="admin" ) { %>
                <a href="/admin/users">
                  <li>
                    <i class="fa-solid fa-users"></i>
                    users
                  </li>
                </a>
                <% }%>
                  <a href="/listings/create">
                    <li>
                      <i class="fa-solid fa-circle-plus"></i>
                      create new
                    </li>
                  </a>
                  <% } %>
                    <a href="/listings">
                      <li>
                        <i class="fa-solid fa-lines-leaning"></i>
                        listings
                      </li>
                    </a>
        </ul>
      </div>
    </div>
  </div>
  <!-- logo -->
  <a href="/" class="logo-icon">
    <i class="fa-solid fa-l"></i>
    <i class="fa-solid fa-u"></i>
    <i class="fa-solid fa-m"></i>
    <i class="fa-solid fa-i"></i>
    <i class="fa-solid fa-n"></i>
    <i class="fa-solid fa-o"></i>
    <i class="fa-solid fa-s"></i>
  </a>
  <div class="navigation desktop">
    <% if(!user || user==null) { %>
      <a href="/user/signin">sign in</a>
      <a href="/user/signup">sign up</a>
      <% } else { %>
        <a href="/user/signout">sign out</a>
        <a href="/listings/user/<%= user.username %>">
          <%= user.username %>
        </a>
        <% if(user.role=="admin" ) { %>
          <a href="/admin/users">users</a>
          <% } %>
            <a href="/listings/create">create new</a>
            <% } %>
              <a href="/listings">listings</a>
  </div>

</nav>