<%- layout("partials/boilerplate", {title, user}); %>
  <div class="form-container">
    <form action="/user/signin" method="post" class="form">
      <div>
        <label for="username" class="form-label">Username</label><input class="form-control" type="text" name="username"
          id="username" placeholder="@username" required>
      </div>
      <div>
        <label for="password" class="form-label"></label>Password<input class="form-control" type="password"
          name="password" id="password" placeholder="pa*s**d" required>
      </div>
      <div>
        <button type="submit" class="btn btn-outline-secondary">Sign IN</button>
      </div>
    </form>
    <div>
      don't have an account? <a href="/user/signup"> sign up </a>
    </div>
  </div>