<%- layout("partials/boilerplate", {title, user}); %>
  <div class="form-container">
    <form action="/user/signup" method="post" class="form needs-validation" novalidate>
      <div>
        <label for="username" class="form-label">Username</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="@username" required>
      </div>
      <div>
        <label for="email" class="form-label">Email</label>
        <input class="form-control" type="email" name="email" id="email" placeholder="@mail.com" required>
      </div>
      <div>
        <label for="password" class="form-label">Password</label>
        <input class="form-control" type="text" name="password" id="password" placeholder="pa*s**d" required>
      </div>
      <div>
        <button type="submit" class="btn btn-outline-secondary">Sign UP</button>
      </div>
      <div class="listing-form-input-container position-fix">
        <div class="listing-form-input text-lg">
          <input type="radio" name="actype" id="local" value="local" class="form-check-input" checked />
          <label for="local" class="form-check-label"><b>local</b></label>
          <input type="radio" name="actype" id="admin" class="form-check-input" value="admin" />
          <label for="admin" class="form-check-label"><b>admin</b></label>
        </div>
      </div>
    </form>
    <div>
      already have an account? <a href="/user/signin"> sign in </a>
    </div>

    <script src="/js/script.js">
    </script>
  </div>